#events {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

#events tr:nth-child(even) {background: #222}
#events tr:nth-child(odd) {background: #333}

#events tr.outline {
	border-top: 2vw solid #111;
}

#events tr.header {
	background: #111
}

#events td {
	font-family: "Open Sans";
	font-size: 2.5vw;
	line-height: 3vw;
	font-weight: bold;
	padding: 1vw;
}

#events td.icon {
	width: 1vw;
}

#events td.group {
	font-family: "Open Sans";
	font-size: 2vw;
	line-height: 2.5vw;
}


h1 {
	font-weight: 300;
	font-size: 3vw;
	padding: 0;
}

